#app {
    width: 1248px;
    margin: auto;
}

/* .add-btn {
    margin-top: 20px;
    width: 100%;
} */

.addbtn{
    margin-left: 100px;
    width: 100%;
}

.body {
    margin-top: 20px;
}